.verticalline {
    border-left: 5px solid #efededa1; /* Change color and thickness as needed */
    height: 100%; /* Adjust the height of the vertical line */
    margin: 10px; /*Adjust the spacing around the vertical line
}
