.verticalline {
    border-left: 5px solid #efededa1; /* Change color and thickness as needed */
    height: 100%; /* Adjust the height of the vertical line */
    margin: 10px; /*Adjust the spacing around the vertical line */
}

.rounded-img {
    border: 2px solid #dcdbdb;
    border-radius: 20%;
}

.custom-container {
    margin-top: 10px;
    margin-bottom: 15px;
}

.capex-card {
    color: #abdbe3;
    outline: True;
    text-align: center;
    background-color: #abdbe3;

}

.cards-grey{
    outline: True;
    text-align: center;
    background-color: #353B50;
}

.customer-card {
    /* color: #353B50; */
    outline: True;
    text-align: left;
    background-color: #7594fa;
}

.sales-card {
    /* color: #353B50; */
    outline: True;
    text-align: left;
    background-color: #ccd2e6;
}

.financials-card {
    /* color: #353B50; */
    outline: True;
    text-align: left;
    background-color: #52eab3;
}

.talent-card {
    /* color: #353B50; */
    outline: True;
    text-align: left;
    background-color: #ba52ea;
}

.card-text-header1 {
    color: #dedcdc;
    font-size: 28px;
    font-weight: bold;
}

.card-text-header2 {
    color: #313131;
    font-size: 24px;
    font-weight: bold;
    justify-content: flex-start;
}

.card-text-header3 {
    color: #313131;
    font-size: 22px;
    font-weight: bold;
    /* justify-content: flex-start; */
}

.card-text-body1 {
    color: #fffbfb;
    font-size: 24px;
    letter-spacing: 2px; /* Adjust the spacing between characters */
    /* font-weight: bold; */
}

.card-text-body2 {
    color: #fffbfb;
    font-size: 20px;
    letter-spacing: 2px; /* Adjust the spacing between characters */
    /* font-weight: bold; */
    text-align: center;
}

.timeline-text {
    color: #fffbfb;
    font-size: 10;
    letter-spacing: 2px; /* Adjust the spacing between characters */
    /* font-weight: bold; */
    text-align: center;
}

.sidebar {
    background-color: #353B50;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0px;
    width: 50px;
    z-index: 1000;
}

.page-bg {
    background-color: #292F42;
    /* margin-left: 50px; /* Adjust this value to match the width of the sidebar */
    /* padding: 800px; */ */
}

.page-header {
    color: #dcdbdb;
    size: 12px;
    text-align: center;
}

.header2 {
    color: #dcdbdb;
    size: 10px;
    text-align: center;
}

.navbar {
    padding-left: 50px;
    background-color: #292F42;
    color: #dcdbdb;
    z-index: 999;
    width: 100%;
    justify-content: space-around;
    /* justify-content: flex-start; */
}

.nav-item .nav-link {
    color: #333333;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    padding-left: 20px;
}